# Database
DATABASE_URL="postgresql://user:password@localhost:8888/db?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# DBF Sync API Key (for CLI tool authentication)
SYNC_API_KEY="PSOXigrWIdHUilPUIsFDoQ=="

# Node Environment
NODE_ENV="development"
